:root {
	/* ------- colors ------- */
	--primary-color: cornflowerblue;
	--secondary-color: black;
	--tertiary-color: black;
	--quaternary-color: #e4e4e7;
	--link-color: #000000;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: 'Heebo', sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}
