:root {
	/* ------- colors ------- */
	--primary-color: #27272a;
	--secondary-color: #001C30;
	--tertiary-color: #450570;
	--quaternary-color: #64CCC5;
	--link-color: #8062D6;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}
